:root{
    --bg-header: var(--gray-800);
}

.header{
    background-color: var(--bg-header);
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    align-items: center;
    gap: 10px;
}

.header strong{
    font-size: 1.59906rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.6;
}

.header img{
    height: 2rem;
}